*{
    color:white;
}
.calculatorGrid {
    background-color: black;
    margin: 2rem auto;
    border-radius:15%;
    display: grid;
    justify-items: center;
    max-width: 23rem;
    height: 35rem;
    grid-template: minmax(7rem, auto) repeat(5, 1fr) / repeat(4, 1fr);
    gap: 0.5px;
    padding: 1rem;
}
button {
    font-size:2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.749); /*sort opacity*/
}
.outputBox {
    border-radius: 8px;
    grid-column: 1 / -1;
    display: flex;
    background-color:rgba(0, 0, 0, 0.85);
    margin: 0.5rem;
}
.outputBox .previousValue {
    color: rgba(255, 255, 255, .75);
    font-size: 1rem;
}

.outputBox .currentValue {
    font-size: 2.5rem;
}
.topRow {
    background-color: #7C7C7E;
}
.largerButtons {
    padding-left: 1rem;
    height: 5rem;
    width: 11rem;
    border-radius: 20%;
    grid-column: 1 / 3;
}
.operators{
    background-color: #FF9F0B;
    opacity: 100%;
}

